In [1]:
### 필요 라이브러리
import os
import pandas as pd
import numpy as np
import datetime as dt
import math
import warnings
warnings.filterwarnings(action='ignore')
# save numpy array as npy file
from numpy import asarray
from numpy import save
### 데이터 보여지는 개수 설정
pd.set_option('display.max_columns', 40)
pd.set_option('display.max_rows', 300)

In [2]:
### 폴더에 존재하는 파일 리스트, 굳이 실행하지 않아도 됨
# path_dir = 'C:/Users/HONGJEONGUI/Desktop/RA/Data/DataOR'
path_dir = '/Data/Data'
 
file_list = os.listdir(path_dir)
print(file_list)

['PT구분코드(전체조회기간).xlsx', 'stktrd_20150102.csv', 'ord201709', 'stkord_20150102.csv.gz', 'ORD_19990104.csv', 'layout_3.csv', '시장정보 데이터 확인 및 요청_레이아웃.xlsx', 'layout_2.csv', '유가 체결장 2단계 샘플.csv', 'layout_1.csv', 'SPOT_TRD_20130102.csv', 'ord', '유가 호가장 2단계 샘플.csv', '코스닥 체결장 2단계 샘플.csv', 'TRD_19990104.csv', '코스닥 호가장 2단계 샘플.csv', 'ksqtrd_20150102.csv']

In [3]:
### 유재인 교수님께서 공유해주신 레이블, 코드 설명 엑셀파일(xlsx)을 (시트가 3개) 각 시트별로 csv로 저장.
### 1번째 위치는 엑셀파일위치, 2,3번째는 코드 저장 위치


sheets = 3
for i in range(1,sheets+1):
    df = pd.read_excel(path_dir+"/시장정보 데이터 확인 및 요청_레이아웃.xlsx", sheet_name=(i-1))
    df.to_csv((path_dir+"/layout_{}.csv").format(i), encoding = "cp949", sep=',', header = False, index = False)
    globals()['layout_{}'.format(i)] = pd.read_csv((path_dir+"/layout_{}.csv").format(i), header = None, encoding="cp949")

In [4]:
df = pd.read_csv(path_dir+"/코스닥 호가장 2단계 샘플.csv",encoding='cp949')

In [5]:
header_df=['ISU_CD', 'ORD_DD', 'ORD_ACPT_NO', 'REGUL_OFFHR_TP_CD', 'BLKTRD_TP_CD', '호가장처리가격',
       'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_TP_CD', 'ORD_COND_CD', 'INVST_TP_CD', 'ASK_STEP1_BSTORD_PRC',
       'ASK_STEP1_BSTORD_RQTY', 'ASK_STEP2_BSTORD_PRC','ASK_STEP2_BSTORD_RQTY','ASK_STEP3_BSTORD_PRC',
       'ASK_STEP3_BSTORD_RQTY','ASK_STEP4_BSTORD_PRC', 'ASK_STEP4_BSTORD_RQTY','ASK_STEP5_BSTORD_PRC',
       'ASK_STEP5_BSTORD_RQTY',
       'BID_STEP1_BSTORD_PRC', 'BID_STEP1_BSTORD_RQTY', 'BID_STEP2_BSTORD_PRC', 'BID_STEP2_BSTORD_RQTY',
       'BID_STEP3_BSTORD_PRC', 'BID_STEP3_BSTORD_RQTY','BID_STEP4_BSTORD_PRC', 'BID_STEP4_BSTORD_RQTY',
       'BID_STEP5_BSTORD_PRC', 'BID_STEP5_BSTORD_RQTY', 'ORD_ACPT_TM', 'ORD_QTY', 'ORD_PRC',
       '호가우선순위번호', 'MBR_NO', 'BRN_NO', 'CNTR_CD', 'TRST_PRINC_TP_CD', 'FORNINVST_TP_CD',
       'ORD_MEDIA_TP_CD', '회원사주문시각', '예상체결가격', '예상체결수량', '매도총호가잔량', '매수총호가잔량',
       '호가체결접수순서번호', '직전체결가격', '누적체결수량', '누적거래대금', 'AGG_TM', '시가', '고가', '저가',
       'ORGN_ORD_ACPT_NO', '시장구분코드', '자동취소처리구분코드', 'MKTSTAT_TP_CD', '매도10단계호가합계잔량',
       '매수10단계호가합계잔량', 'PT_TP_CD']
header = header_df

 
df.columns=header_df
df=df[1:]
df.head()

,ISU_CD,ORD_DD,ORD_ACPT_NO,REGUL_OFFHR_TP_CD,BLKTRD_TP_CD,호가장처리가격,ASKBID_TP_CD,MODCANCL_TP_CD,ORD_TP_CD,ORD_COND_CD,INVST_TP_CD,ASK_STEP1_BSTORD_PRC,ASK_STEP1_BSTORD_RQTY,ASK_STEP2_BSTORD_PRC,ASK_STEP2_BSTORD_RQTY,ASK_STEP3_BSTORD_PRC,ASK_STEP3_BSTORD_RQTY,ASK_STEP4_BSTORD_PRC,ASK_STEP4_BSTORD_RQTY,ASK_STEP5_BSTORD_PRC,...,회원사주문시각,예상체결가격,예상체결수량,매도총호가잔량,매수총호가잔량,호가체결접수순서번호,직전체결가격,누적체결수량,누적거래대금,AGG_TM,시가,고가,저가,ORGN_ORD_ACPT_NO,시장구분코드,자동취소처리구분코드,MKTSTAT_TP_CD,매도10단계호가합계잔량,매수10단계호가합계잔량,PT_TP_CD
1,KR7009620006,20171030,23650,1,0,19550,2,1,2,0,8000,19650,5,19700,582,19750,385,19800,609,19850,...,125949640,0,0,21901,29871,34709,19550,0,0,0,15350,19850,14400,0,2,0,40,4465,4210,0
2,KR7009620006,20171030,23651,1,0,19500,1,1,2,0,8000,19650,5,19700,582,19750,385,19800,609,19850,...,125949734,0,0,21901,29871,34710,19550,77,1505350,125949735,15350,19850,14400,0,2,0,40,4465,4210,0
3,KR7009620006,20171030,23652,1,0,19550,1,1,2,0,8000,19650,5,19700,582,19750,385,19800,609,19850,...,125950114,0,0,21901,29794,34712,19550,5,97750,125950115,15350,19850,14400,0,2,0,40,4465,4133,0
4,KR7009620006,20171030,23653,1,0,19250,2,1,2,0,8000,19650,5,19700,582,19750,385,19800,609,19850,...,125950375,0,0,21901,29919,34714,19550,130,2502500,130058726,15350,19850,14400,0,2,0,40,4465,4258,0
5,KR7009620006,20171030,23654,1,0,19600,2,2,2,0,8000,19650,5,19700,582,19750,385,19800,609,19850,...,125950687,0,0,21901,29919,34715,19550,0,0,0,15350,19850,14400,23599,2,0,40,4465,3432,0

In [6]:
data_dir=path_dir+'/'+'ord'

UUID_count={}
file_list = os.listdir(data_dir)
print(file_list)
columnlist=['MBR_NO','BRN_NO']
filecount=0
for filename in file_list:
    print(filename)
    df1 = pd.read_csv(data_dir+'/'+filename, sep=',', header=None, encoding="cp949")
    break
    if 'SPOT' in filename:
        df1.columns = list(layout_1.iloc[0:len(df1.iloc[0])][0])
        print("Using 2013 data")
    else:
        continue
    if(filecount==0):
        countdf=df1.groupby(columnlist).size()
    else:
        countdf=countdf.add(df1.groupby(columnlist).size())
    filecount+=1
    break

['SPOT_ORD_20130102.csv', 'ksqord_20150102.csv']
SPOT_ORD_20130102.csv

In [7]:
df1.columns = list(layout_1.iloc[0:len(df1.iloc[0])][0])

In [8]:
df2013=df1

In [49]:
data_dir=path_dir+'/'+'ord201709'

UUID_count={}
file_list = os.listdir(data_dir)
print(file_list)
filecount=0
askcount=0
bidcount=0
for filename in file_list:
    print(filename)
    if 'ksqord_201709' not in filename:
        continue
    df1 = pd.read_csv(data_dir+'/'+filename, sep=',', header=None, encoding="cp949")
    df1.columns= header_df
    dfcount=df1[1:]["ASKBID_TP_CD"].squeeze()
    print("Using 2017 data")
    askcount+=dfcount.value_counts()[1]
    bidcount+=dfcount.value_counts()[2]

['ksqord_20170904.csv', 'ksqord_20170905.csv', 'ksqord_20170929.csv', 'ksqord_20170926.csv', 'ksqord_20170913.csv', 'ksqord_20170928.csv', 'ksqord_20170901.csv', 'ksqord_20170918.csv', 'ksqord_20170922.csv', 'ksqord_20170906.csv', 'ksqord_20170919.csv', 'ksqord_20170921.csv', 'ksqord_20170920.csv', 'ksqord_20170925.csv', 'ksqord_20170908.csv', 'ksqord_20170915.csv', 'ksqord_20170907.csv', 'ksqord_20170914.csv', 'ksqord_20170927.csv', 'ksqord_20170911.csv', 'ksqord_20170912.csv']
ksqord_20170904.csv
Using 2017 data
ksqord_20170905.csv
Using 2017 data
ksqord_20170929.csv
Using 2017 data
ksqord_20170926.csv
Using 2017 data
ksqord_20170913.csv
Using 2017 data
ksqord_20170928.csv
Using 2017 data
ksqord_20170901.csv
Using 2017 data
ksqord_20170918.csv
Using 2017 data
ksqord_20170922.csv
Using 2017 data
ksqord_20170906.csv
Using 2017 data
ksqord_20170919.csv
Using 2017 data
ksqord_20170921.csv
Using 2017 data
ksqord_20170920.csv
Using 2017 data
ksqord_20170925.csv
Using 2017 data
ksqord_20170908.csv
Using 2017 data
ksqord_20170915.csv
Using 2017 data
ksqord_20170907.csv
Using 2017 data
ksqord_20170914.csv
Using 2017 data
ksqord_20170927.csv
Using 2017 data
ksqord_20170911.csv
Using 2017 data
ksqord_20170912.csv
Using 2017 data

In [50]:
askcount

76339406

In [51]:
bidcount

100662840

In [48]:
df1.head(30)

,ISU_CD,ORD_DD,ORD_ACPT_NO,REGUL_OFFHR_TP_CD,BLKTRD_TP_CD,호가장처리가격,ASKBID_TP_CD,MODCANCL_TP_CD,ORD_TP_CD,ORD_COND_CD,INVST_TP_CD,ASK_STEP1_BSTORD_PRC,ASK_STEP1_BSTORD_RQTY,ASK_STEP2_BSTORD_PRC,ASK_STEP2_BSTORD_RQTY,ASK_STEP3_BSTORD_PRC,ASK_STEP3_BSTORD_RQTY,ASK_STEP4_BSTORD_PRC,ASK_STEP4_BSTORD_RQTY,ASK_STEP5_BSTORD_PRC,...,회원사주문시각,예상체결가격,예상체결수량,매도총호가잔량,매수총호가잔량,호가체결접수순서번호,직전체결가격,누적체결수량,누적거래대금,AGG_TM,시가,고가,저가,ORGN_ORD_ACPT_NO,시장구분코드,자동취소처리구분코드,MKTSTAT_TP_CD,매도10단계호가합계잔량,매수10단계호가합계잔량,PT_TP_CD
0,HK0000054723,20170904,1,2,0,769,2,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,72957408,0,0,0,1,1,769,1,769,73006002,769,769,769,0,2,0,50,0,1,0
1,HK0000054723,20170904,2,2,0,769,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,72607263,0,0,0,1,2,769,2,1538,82913734,769,769,769,0,2,0,50,0,1,0
2,HK0000054723,20170904,3,2,0,769,1,1,2,0,8000,769,6599,0,0,0,0,0,0,0,...,73418972,0,0,6599,0,4,769,0,0,0,0,769,769,0,2,0,50,6599,0,0
3,HK0000054723,20170904,1,1,0,779,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75005213,0,0,0,0,5,769,100,77900,100937996,0,769,769,0,2,0,10,0,0,0
4,HK0000054723,20170904,2,1,0,780,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75006374,0,0,0,0,6,769,100,78000,101202059,0,769,769,0,2,0,10,0,0,0
5,HK0000054723,20170904,3,1,0,781,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75007138,0,0,0,0,7,769,100,78100,101250572,0,769,769,0,2,0,10,0,0,0
6,HK0000054723,20170904,4,1,0,782,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75008187,0,0,0,0,8,769,100,78200,101253411,0,769,769,0,2,0,10,0,0,0
7,HK0000054723,20170904,5,1,0,783,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75009139,0,0,0,0,9,769,100,78300,101444154,0,769,769,0,2,0,10,0,0,0
8,HK0000054723,20170904,6,1,0,784,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75009978,0,0,0,0,10,769,100,78400,101551476,0,769,769,0,2,0,10,0,0,0
9,HK0000054723,20170904,7,1,0,785,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75010774,0,0,0,0,11,769,100,78500,101611686,0,769,769,0,2,0,10,0,0,0
10,HK0000054723,20170904,8,1,0,988,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75506448,0,0,0,0,12,769,0,0,0,0,769,769,0,2,0,10,0,0,0
11,HK0000054723,20170904,9,1,0,786,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75011548,0,0,0,0,13,769,100,78600,101623790,0,769,769,0,2,0,10,0,0,0
12,HK0000054723,20170904,10,1,0,884,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75027498,0,0,0,0,14,769,0,0,0,0,769,769,0,2,0,10,0,0,0
13,HK0000054723,20170904,11,1,0,778,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75013269,0,0,0,0,15,769,100,77800,100937996,0,769,769,0,2,0,10,0,0,0
14,HK0000054723,20170904,12,1,0,777,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75014291,0,0,0,0,16,769,100,77700,100937996,0,769,769,0,2,0,10,0,0,0
15,HK0000054723,20170904,13,1,0,776,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75015227,0,0,0,0,17,769,100,77600,100107236,0,769,769,0,2,0,10,0,0,0
16,HK0000054723,20170904,14,1,0,775,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75016004,0,0,0,0,18,769,100,77500,95909967,0,769,769,0,2,0,10,0,0,0
17,HK0000054723,20170904,15,1,0,774,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75016780,0,0,0,0,19,769,100,77400,95851336,0,769,769,0,2,0,10,0,0,0
18,HK0000054723,20170904,16,1,0,773,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75018379,0,0,0,0,20,769,100,77300,95847134,0,769,769,0,2,0,10,0,0,0
19,HK0000054723,20170904,17,1,0,772,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75019627,0,0,0,0,21,769,100,77200,95819424,0,769,769,0,2,0,10,0,0,0
20,HK0000054723,20170904,18,1,0,888,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75506434,0,0,0,0,22,769,0,0,0,0,769,769,0,2,0,10,0,0,0
21,HK0000054723,20170904,19,1,0,779,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75014708,0,0,0,0,23,769,1261,982319,100937996,0,769,769,0,2,0,10,0,0,0
22,HK0000054723,20170904,20,1,0,720,2,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,71130817,0,0,0,0,24,769,0,0,0,0,769,769,0,2,0,10,0,0,0
23,HK0000054723,20170904,21,1,0,771,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75020596,0,0,0,0,25,769,100,77100,95332890,0,769,769,0,2,0,10,0,0,0
24,HK0000054723,20170904,22,1,0,770,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75021945,0,0,0,0,26,769,100,77000,95030219,0,769,769,0,2,0,10,0,0,0
25,HK0000054723,20170904,23,1,0,787,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75026420,0,0,0,0,27,769,100,78700,101645885,0,769,769,0,2,0,10,0,0,0
26,HK0000054723,20170904,24,1,0,788,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75027250,0,0,0,0,28,769,100,78800,101647244,0,769,769,0,2,0,10,0,0,0
27,HK0000054723,20170904,25,1,0,789,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75027964,0,0,0,0,29,769,100,78900,101647244,0,769,769,0,2,0,10,0,0,0
28,HK0000054723,20170904,26,1,0,790,1,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,75028898,0,0,0,0,30,769,100,79000,101647244,0,769,769,0,2,0,10,0,0,0
29,HK0000054723,20170904,27,1,0,716,2,1,2,0,8000,0,0,0,0,0,0,0,0,0,...,74750056,0,0,0,0,31,769,0,0,0,0,769,769,0,2,0,10,0,0,0

In [31]:
df1[['ORD_TP_CD','ASKBID_TP_CD']]

        ORD_TP_CD  ASKBID_TP_CD
0               2             2
1               2             1
2               2             1
3               2             1
4               2             1
...           ...           ...
7693143         2             1
7693144         2             2
7693145         2             1
7693146         2             1
7693147         2             1

[7693148 rows x 2 columns]

In [45]:
df1['ASKBID_TP_CD'].squeeze().value_counts()[2]

4556278

In [38]:
(df1[['ISU_CD','ASKBID_TP_CD']]).groupby("ASKBID_TP_CD").count()

               ISU_CD
ASKBID_TP_CD
1             3136870
2             4556278

In [ ]:
dfmostkor = dfmost[dfmost['ISU_CD'].str.contains('KR')]

In [ ]:
dfmostkor.sort_values(by=['ORD_DD','ISU_CD','ORD_ACPT_TM'])
# dfmost.sort_values(by='ORD_DD')

In [ ]:
groupmin=10
groupsec=0
tottime_ms=(6*3600+1800)*1e3
totgroupnum=tottime_ms/(groupmin*6e4+groupsec*1e3)

In [ ]:
#dfmostkor['hourmin']=dfmostkor['ORD_ACPT_TM']//1000

dfmostkor['ORD_TM']=(dfmostkor['ORD_ACPT_TM']//1e7)*36e5+ ((dfmostkor['ORD_ACPT_TM']%1e7)//1e5)*6e4+(dfmostkor['ORD_ACPT_TM']%1e5)
dfmostkor['ORD_TM']=dfmostkor['ORD_TM']-9*36e5
dfmostkor['time_group']=dfmostkor['ORD_TM']//(groupmin*6e4+groupsec*1e3)
dfmostkor=dfmostkor[(dfmostkor['time_group']>=0) &(dfmostkor['time_group']<40)]

dfmostkor.groupby(['ISU_CD']).size()

len(dfmostkor)

In [ ]:
ISU_CD=dfmostkor.groupby(['ISU_CD']).size().idxmax()
print(ISU_CD)
print(dfmostkor.groupby(['ISU_CD']).size().max())
print(dfmostkor.groupby(['ISU_CD']).size().sum())

In [ ]:
dfmostkor.columns

In [ ]:
#dfISU=dfmostkor[dfmostkor['ISU_CD']==ISU_CD]
dfISU=dfmostkor

dfISU.columns

In [ ]:
clist=['PT_TP_CD']
dfISU[clist].groupby(clist).size()

In [ ]:
columns=['ISU_CD', 'ORD_DD', 'ORD_ACPT_NO', 'REGUL_OFFHR_TP_CD', 'BLKTRD_TP_CD',
       '호가장처리가격', 'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_TP_CD', 'ORD_COND_CD',
       'INVST_TP_CD', 'ASK_STEP1_BSTORD_PRC', 'ASK_STEP1_BSTORD_RQTY',
       'ASK_STEP2_BSTORD_PRC', 'ASK_STEP2_BSTORD_RQTY', 'ASK_STEP3_BSTORD_PRC',
       'ASK_STEP3_BSTORD_RQTY', 'ASK_STEP4_BSTORD_PRC',
       'ASK_STEP4_BSTORD_RQTY', 'ASK_STEP5_BSTORD_PRC',
       'ASK_STEP5_BSTORD_RQTY', 'BID_STEP1_BSTORD_PRC',
       'BID_STEP1_BSTORD_RQTY', 'BID_STEP2_BSTORD_PRC',
       'BID_STEP2_BSTORD_RQTY', 'BID_STEP3_BSTORD_PRC',
       'BID_STEP3_BSTORD_RQTY', 'BID_STEP4_BSTORD_PRC',
       'BID_STEP4_BSTORD_RQTY', 'BID_STEP5_BSTORD_PRC',
       'BID_STEP5_BSTORD_RQTY', 'ORD_ACPT_TM', 'ORD_QTY', 'ORD_PRC',
       '호가우선순위번호', 'MBR_NO', 'BRN_NO', 'CNTR_CD', 'TRST_PRINC_TP_CD',
       'FORNINVST_TP_CD', 'ORD_MEDIA_TP_CD', '회원사주문시각', '예상체결가격', '예상체결수량',
       '매도총호가잔량', '매수총호가잔량', '호가체결접수순서번호', '직전체결가격', '누적체결수량', '누적거래대금',
       'AGG_TM', '시가', '고가', '저가', 'ORGN_ORD_ACPT_NO', '시장구분코드', '자동취소처리구분코드',
       'MKTSTAT_TP_CD', '매도10단계호가합계잔량', '매수10단계호가합계잔량', 'PT_TP_CD', 'time_group']
columns=['호가장처리가격', 'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_TP_CD', 
         'ORD_QTY', 'ORD_PRC', '매도총호가잔량',
       '매수총호가잔량', '직전체결가격', '누적체결수량', '누적거래대금', '시가', '고가', '저가',
        'time_group']
columns= [ '호가장처리가격', 'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_TP_CD', 'ORD_COND_CD',
       'INVST_TP_CD', 'ORD_ACPT_TM', 'ORD_QTY', 'ORD_PRC',
        'CNTR_CD', 'FORNINVST_TP_CD', 'ORD_MEDIA_TP_CD', '예상체결가격', '예상체결수량',
       '매도총호가잔량', '매수총호가잔량', '직전체결가격', '누적체결수량', '누적거래대금',
         '시가', '고가', '저가',  'MKTSTAT_TP_CD', 'time_group']
columns= [ '호가장처리가격', 'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_QTY', 'ORD_PRC',
       '매도총호가잔량', '매수총호가잔량', '직전체결가격', 
         '시가', '고가', '저가',  'MKTSTAT_TP_CD', 'time_group']

columns=['ISU_CD','ORD_DD','ASKBID_TP_CD', 'MODCANCL_TP_CD',  'ASK_STEP1_BSTORD_PRC','BID_STEP1_BSTORD_PRC',
         'ORD_QTY', 'ORD_PRC', '매도총호가잔량',
       '매수총호가잔량',  '시가', '고가', '저가','time_group','MBR_NO','BRN_NO']

In [ ]:
columns

In [ ]:
Pdf=dfISU[columns]

In [ ]:
dfISU['시가']

In [ ]:
Pdf=Pdf[Pdf['ORD_PRC']!=0]
Pdf=Pdf[Pdf['MODCANCL_TP_CD']==1]
Pdf['시가']=(Pdf['ASK_STEP1_BSTORD_PRC']+Pdf['BID_STEP1_BSTORD_PRC'])/2
Pdf['count']=1
Pdf['High']=(Pdf['고가']-Pdf['시가'])/Pdf['시가']
Pdf['Low']=(Pdf['저가']-Pdf['시가'])/Pdf['시가']
Pdf['ORD_NET']=Pdf['ORD_PRC']*Pdf['ORD_QTY']
PdfA=Pdf[Pdf['ASKBID_TP_CD']==1]
PdfB=Pdf[Pdf['ASKBID_TP_CD']==2]

In [ ]:
newcolumns=['ISU_CD','ORD_DD','time_group','MBR_NO','BRN_NO','시가','ORD_QTY','ORD_NET',  'High','Low','매도총호가잔량',
       '매수총호가잔량','count']
PdfA=PdfA[newcolumns]
PdfB=PdfB[newcolumns]

In [ ]:
PdfAA=PdfA.groupby(['ISU_CD','ORD_DD','time_group','MBR_NO','BRN_NO']).sum()
#PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']=PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']/PdfAA['count']
PdfAA['시가']=PdfAA['시가']/PdfAA['count']
PdfAA['High']=PdfAA['High']/PdfAA['count']
PdfAA['Low']=PdfAA['Low']/PdfAA['count']
PdfAA['매도총호가잔량']=PdfAA['매도총호가잔량']/PdfAA['count']
PdfAA['매수총호가잔량']=PdfAA['매수총호가잔량']/PdfAA['count']
PdfAA['ORD_PRC_REL']=PdfAA['ORD_NET']/PdfAA['ORD_QTY']/PdfAA['시가']
PdfBB=PdfB.groupby(['ISU_CD','ORD_DD','time_group']).sum()
#PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']=PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']/PdfAA['count']
PdfBB['시가']=PdfBB['시가']/PdfBB['count']
PdfBB['High']=PdfBB['High']/PdfBB['count']
PdfBB['Low']=PdfBB['Low']/PdfBB['count']
PdfBB['매도총호가잔량']=PdfBB['매도총호가잔량']/PdfBB['count']
PdfBB['매수총호가잔량']=PdfBB['매수총호가잔량']/PdfBB['count']
PdfBB['ORD_PRC_REL']=PdfBB['ORD_NET']/PdfBB['ORD_QTY']/PdfBB['시가']

In [ ]:
dfmostkor

In [ ]:
PdfAA.add(-1*PdfBB,fill_value=0)

In [ ]:
Y=PdfAA.add(-1*PdfBB,fill_value=0)['ORD_QTY']

ISU_CD_list=(X.groupby(['ISU_CD']).count().reset_index())['ISU_CD'].to_list()

In [ ]:
Y=Y.reset_index()
Y=Y[Y['ISU_CD'].isin(ISUlist)]
Y=Y.set_index(['ISU_CD','ORD_DD','time_group'])

In [ ]:
timedf_columns=['ISU_CD', 'ORD_DD', 'time_group', 'ORD_ACPT_NO', 'REGUL_OFFHR_TP_CD',
       'BLKTRD_TP_CD', '호가장처리가격', 'ASKBID_TP_CD', 'MODCANCL_TP_CD',
       'ORD_TP_CD', 'ORD_COND_CD', 'INVST_TP_CD', 'ASK_STEP1_BSTORD_PRC',
       'ASK_STEP1_BSTORD_RQTY', 'ASK_STEP2_BSTORD_PRC',
       'ASK_STEP2_BSTORD_RQTY', 'ASK_STEP3_BSTORD_PRC',
       'ASK_STEP3_BSTORD_RQTY', 'ASK_STEP4_BSTORD_PRC',
       'ASK_STEP4_BSTORD_RQTY', 'ASK_STEP5_BSTORD_PRC',
       'ASK_STEP5_BSTORD_RQTY', 'BID_STEP1_BSTORD_PRC',
       'BID_STEP1_BSTORD_RQTY', 'BID_STEP2_BSTORD_PRC',
       'BID_STEP2_BSTORD_RQTY', 'BID_STEP3_BSTORD_PRC',
       'BID_STEP3_BSTORD_RQTY', 'BID_STEP4_BSTORD_PRC',
       'BID_STEP4_BSTORD_RQTY', 'BID_STEP5_BSTORD_PRC',
       'BID_STEP5_BSTORD_RQTY', 'ORD_ACPT_TM', 'ORD_QTY', 'ORD_PRC',
       '호가우선순위번호', 'MBR_NO', 'BRN_NO', 'CNTR_CD', 'TRST_PRINC_TP_CD',
       'FORNINVST_TP_CD', 'ORD_MEDIA_TP_CD', '회원사주문시각', '예상체결가격', '예상체결수량',
       '매도총호가잔량', '매수총호가잔량', '호가체결접수순서번호', '직전체결가격', '누적체결수량', '누적거래대금',
       'AGG_TM', '시가', '고가', '저가', 'ORGN_ORD_ACPT_NO', '시장구분코드', '자동취소처리구분코드',
       'MKTSTAT_TP_CD', '매도10단계호가합계잔량', '매수10단계호가합계잔량', 'PT_TP_CD', 'ORD_TM']

In [ ]:
from numpy import load
timedf_load_data=load('Data0930_'+str(groupmin)+'min'+'.npy',allow_pickle=True)
timedf_load = pd.DataFrame(timedf_load_data,columns=timedf_columns)

In [ ]:
timedf_load

In [ ]:

timedf_load['High']=(timedf_load['고가']-timedf_load['시가'])/timedf_load['시가']
timedf_load['Low']=(timedf_load['저가']-timedf_load['시가'])/timedf_load['시가']
timedf_load['현재가']=(timedf_load['ASK_STEP1_BSTORD_PRC']+timedf_load['BID_STEP1_BSTORD_PRC'])/2
timedf_load['Present']=(timedf_load['현재가']-timedf_load['시가'])/timedf_load['시가']

In [ ]:
timedf_load[['매수총호가잔량']].mean(axis=0)

In [ ]:
Feature_norm=True

for MBR_NO, BRN_NO in mbrnlist:
    timedf= timedf_load.set_index(['ISU_CD','ORD_DD','time_group'])
    
    
    
    
    Data=timedf[[   '시가','매도총호가잔량',       '매수총호가잔량',  'Present', 'High', 'Low','현재가']]
#     save('DataMid_'+str(MBR_NO)+'_'+str(BRN_NO)+'.npy', Data)
    Data_index=Data.reset_index()

    Data_train=Data_index[Data_index['ORD_DD']<20170928]
    Data_train=Data_train.set_index(['ISU_CD','ORD_DD','time_group'])
    
    if Feature_norm:
        rem_avg=Data_train[['매수총호가잔량']].mean(axis=0)[0]+Data_train[['매도총호가잔량']].mean(axis=0)[0]
        Data_train[['매도총호가잔량','매수총호가잔량']]=Data_train[['매도총호가잔량','매수총호가잔량']]/rem_avg
        
    Data_test=Data_index[Data_index['ORD_DD']>20170927]
    Data_test=Data_test.set_index(['ISU_CD','ORD_DD','time_group'])
    if Feature_norm:
        Data_test[['매도총호가잔량','매수총호가잔량']]=Data_test[['매도총호가잔량','매수총호가잔량']]/rem_avg
        
    if Feature_norm:
        save('DataMid_'+str(MBR_NO)+'_'+str(BRN_NO)+'norm_train'+'.npy', Data_train)
        save('DataMid_'+str(MBR_NO)+'_'+str(BRN_NO)+'norm_test'+'.npy', Data_test)
    else:
        save('DataMid_'+str(MBR_NO)+'_'+str(BRN_NO)+'_train'+'.npy', Data_train)
        save('DataMid_'+str(MBR_NO)+'_'+str(BRN_NO)+'_test'+'.npy', Data_test)

In [ ]:
Data_test.head(100)

In [ ]:
rem_avg

In [ ]:
Data_train=Data_index[Data_index['ORD_DD']<20170928]

In [ ]:
Data_train[['매수총호가잔량']].mean(axis=0)[0]