In [1]:
### 필요 라이브러리
import os
import pandas as pd
import numpy as np
import datetime as dt
import math
import warnings
warnings.filterwarnings(action='ignore')
# save numpy array as npy file
from numpy import asarray
from numpy import save
### 데이터 보여지는 개수 설정
pd.set_option('display.max_columns', 40)
pd.set_option('display.max_rows', 300)

In [2]:
### 폴더에 존재하는 파일 리스트, 굳이 실행하지 않아도 됨
# path_dir = 'C:/Users/HONGJEONGUI/Desktop/RA/Data/DataOR'
path_dir = '/Data/SampleKsqord'
 
file_list = os.listdir(path_dir)
print(file_list)

['PT구분코드(전체조회기간).xlsx', 'SPOT_ORD_20130103.csv', 'stktrd_20150102.csv', 'stkord_20150102.csv.gz', 'ORD_19990104.csv', 'layout_3.csv', '시장정보 데이터 확인 및 요청_레이아웃.xlsx', 'layout_2.csv', '유가 체결장 2단계 샘플.csv', 'ksqtrd_20171031.csv', 'layout_1.csv', 'ord', '유가 호가장 2단계 샘플.csv', '코스닥 체결장 2단계 샘플.csv', '코스닥 호가장 2단계 샘플.csv']

In [3]:
### 유재인 교수님께서 공유해주신 레이블, 코드 설명 엑셀파일(xlsx)을 (시트가 3개) 각 시트별로 csv로 저장.
### 1번째 위치는 엑셀파일위치, 2,3번째는 코드 저장 위치


sheets = 3
for i in range(1,sheets+1):
    df = pd.read_excel(path_dir+"/시장정보 데이터 확인 및 요청_레이아웃.xlsx", sheet_name=(i-1))
    df.to_csv((path_dir+"/layout_{}.csv").format(i), encoding = "cp949", sep=',', header = False, index = False)
    globals()['layout_{}'.format(i)] = pd.read_csv((path_dir+"/layout_{}.csv").format(i), header = None, encoding="cp949")

In [4]:
df = pd.read_csv(path_dir+"/코스닥 호가장 2단계 샘플.csv",encoding='cp949')

In [5]:
header_df=['ISU_CD', 'ORD_DD', 'ORD_ACPT_NO', 'REGUL_OFFHR_TP_CD', 'BLKTRD_TP_CD', '호가장처리가격',
       'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_TP_CD', 'ORD_COND_CD', 'INVST_TP_CD', 'ASK_STEP1_BSTORD_PRC',
       'ASK_STEP1_BSTORD_RQTY', 'ASK_STEP2_BSTORD_PRC','ASK_STEP2_BSTORD_RQTY','ASK_STEP3_BSTORD_PRC',
       'ASK_STEP3_BSTORD_RQTY','ASK_STEP4_BSTORD_PRC', 'ASK_STEP4_BSTORD_RQTY','ASK_STEP5_BSTORD_PRC',
       'ASK_STEP5_BSTORD_RQTY',
       'BID_STEP1_BSTORD_PRC', 'BID_STEP1_BSTORD_RQTY', 'BID_STEP2_BSTORD_PRC', 'BID_STEP2_BSTORD_RQTY',
       'BID_STEP3_BSTORD_PRC', 'BID_STEP3_BSTORD_RQTY','BID_STEP4_BSTORD_PRC', 'BID_STEP4_BSTORD_RQTY',
       'BID_STEP5_BSTORD_PRC', 'BID_STEP5_BSTORD_RQTY', 'ORD_ACPT_TM', 'ORD_QTY', 'ORD_PRC',
       '호가우선순위번호', 'MBR_NO', 'BRN_NO', 'CNTR_CD', 'TRST_PRINC_TP_CD', 'FORNINVST_TP_CD',
       'ORD_MEDIA_TP_CD', '회원사주문시각', '예상체결가격', '예상체결수량', '매도총호가잔량', '매수총호가잔량',
       '호가체결접수순서번호', '직전체결가격', '누적체결수량', '누적거래대금', 'AGG_TM', '시가', '고가', '저가',
       'ORGN_ORD_ACPT_NO', '시장구분코드', '자동취소처리구분코드', 'MKTSTAT_TP_CD', '매도10단계호가합계잔량',
       '매수10단계호가합계잔량', 'PT_TP_CD']
header = header_df

 
df.columns=header_df
df=df[1:]
df.head()

,ISU_CD,ORD_DD,ORD_ACPT_NO,REGUL_OFFHR_TP_CD,BLKTRD_TP_CD,호가장처리가격,ASKBID_TP_CD,MODCANCL_TP_CD,ORD_TP_CD,ORD_COND_CD,INVST_TP_CD,ASK_STEP1_BSTORD_PRC,ASK_STEP1_BSTORD_RQTY,ASK_STEP2_BSTORD_PRC,ASK_STEP2_BSTORD_RQTY,ASK_STEP3_BSTORD_PRC,ASK_STEP3_BSTORD_RQTY,ASK_STEP4_BSTORD_PRC,ASK_STEP4_BSTORD_RQTY,ASK_STEP5_BSTORD_PRC,...,회원사주문시각,예상체결가격,예상체결수량,매도총호가잔량,매수총호가잔량,호가체결접수순서번호,직전체결가격,누적체결수량,누적거래대금,AGG_TM,시가,고가,저가,ORGN_ORD_ACPT_NO,시장구분코드,자동취소처리구분코드,MKTSTAT_TP_CD,매도10단계호가합계잔량,매수10단계호가합계잔량,PT_TP_CD
1,KR7009620006,20171030,23650,1,0,19550,2,1,2,0,8000,19650,5,19700,582,19750,385,19800,609,19850,...,125949640,0,0,21901,29871,34709,19550,0,0,0,15350,19850,14400,0,2,0,40,4465,4210,0
2,KR7009620006,20171030,23651,1,0,19500,1,1,2,0,8000,19650,5,19700,582,19750,385,19800,609,19850,...,125949734,0,0,21901,29871,34710,19550,77,1505350,125949735,15350,19850,14400,0,2,0,40,4465,4210,0
3,KR7009620006,20171030,23652,1,0,19550,1,1,2,0,8000,19650,5,19700,582,19750,385,19800,609,19850,...,125950114,0,0,21901,29794,34712,19550,5,97750,125950115,15350,19850,14400,0,2,0,40,4465,4133,0
4,KR7009620006,20171030,23653,1,0,19250,2,1,2,0,8000,19650,5,19700,582,19750,385,19800,609,19850,...,125950375,0,0,21901,29919,34714,19550,130,2502500,130058726,15350,19850,14400,0,2,0,40,4465,4258,0
5,KR7009620006,20171030,23654,1,0,19600,2,2,2,0,8000,19650,5,19700,582,19750,385,19800,609,19850,...,125950687,0,0,21901,29919,34715,19550,0,0,0,15350,19850,14400,23599,2,0,40,4465,3432,0

In [19]:
data_dir=path_dir+'/'+'ord'

UUID_count={}
file_list = os.listdir(data_dir)
print(file_list)
columnlist=['MBR_NO','BRN_NO']
filecount=0
for filename in file_list:
    print(filename)
#     df1 = pd.read_csv(data_dir+'/'+filename, sep=',', header=Non, encoding="cp949")
    df1 = pd.read_csv(data_dir+'/'+filename, sep=',', encoding="cp949")
    break
    if 'SPOT' in filename:
        df1.columns = list(layout_1.iloc[0:len(df1.iloc[0])][0])
        print("Using 2013 data")
    else:
        continue
    if(filecount==0):
        countdf=df1.groupby(columnlist).size()
    else:
        countdf=countdf.add(df1.groupby(columnlist).size())
    filecount+=1
    break

['SPOT_ORD_20130103.csv', 'ORD_19990104.csv']
SPOT_ORD_20130103.csv

In [20]:
df1.columns = list(layout_1.iloc[0:len(df1.iloc[0])][0])

In [21]:
df2013=df1

In [22]:
mbrnlist1=[(5,194),(2,155),(12,100),(17,29),(42,1),(44,1),(50,92),(2,83),(4,10118),(8,298),(56,17990)]
mbrnlist2=[(5,194),(12,100),(2,155),(17,29),(42,1),(44,1),(2,83),(4,10118),(4,9997),(50,91)]

In [23]:
MBR_NO,BRN_NO=12,100
for MBR_NO,BRN_NO in mbrnlist1:
    print(MBR_NO,BRN_NO,df2013[(df2013['MBR_NO']==MBR_NO)]['MKTPARTC_KOR_ABBRV'].head(1))

5 194 122    대우증권
Name: MKTPARTC_KOR_ABBRV, dtype: object
2 155 15    신한투자
Name: MKTPARTC_KOR_ABBRV, dtype: object
12 100 209    NH투자증권(우리)
Name: MKTPARTC_KOR_ABBRV, dtype: object
17 29 32    현대증권
Name: MKTPARTC_KOR_ABBRV, dtype: object
42 1 609    CS증권
Name: MKTPARTC_KOR_ABBRV, dtype: object
44 1 489    메릴린치
Name: MKTPARTC_KOR_ABBRV, dtype: object
50 92 1    키움증권
Name: MKTPARTC_KOR_ABBRV, dtype: object
2 83 15    신한투자
Name: MKTPARTC_KOR_ABBRV, dtype: object
4 10118 18    대신증권
Name: MKTPARTC_KOR_ABBRV, dtype: object
8 298 37    유진증권
Name: MKTPARTC_KOR_ABBRV, dtype: object
56 17990 23    하나대투
Name: MKTPARTC_KOR_ABBRV, dtype: object

In [24]:
MBR_NO,BRN_NO=12,100
for MBR_NO,BRN_NO in mbrnlist1:
    print(MBR_NO,BRN_NO,df2013[(df2013['MBR_NO']==MBR_NO)&(df2013['BRN_NO']==BRN_NO)]['MKTPARTC_KOR_ABBRV'].head(1),
         df2013[(df2013['MBR_NO']==MBR_NO)&(df2013['BRN_NO']==BRN_NO)]['BRN_NM'].head(1))

5 194 Series([], Name: MKTPARTC_KOR_ABBRV, dtype: object) Series([], Name: BRN_NM, dtype: object)
2 155 15    신한투자
Name: MKTPARTC_KOR_ABBRV, dtype: object 15    영업10부
Name: BRN_NM, dtype: object
12 100 217    NH투자증권(우리)
Name: MKTPARTC_KOR_ABBRV, dtype: object 217    스마트
Name: BRN_NM, dtype: object
17 29 6917    현대증권
Name: MKTPARTC_KOR_ABBRV, dtype: object 6917    YF사이버
Name: BRN_NM, dtype: object
42 1 609    CS증권
Name: MKTPARTC_KOR_ABBRV, dtype: object 609    고객
Name: BRN_NM, dtype: object
44 1 489    메릴린치
Name: MKTPARTC_KOR_ABBRV, dtype: object 489    서울
Name: BRN_NM, dtype: object
50 92 Series([], Name: MKTPARTC_KOR_ABBRV, dtype: object) Series([], Name: BRN_NM, dtype: object)
2 83 438    신한투자
Name: MKTPARTC_KOR_ABBRV, dtype: object 438    신한은행
Name: BRN_NM, dtype: object
4 10118 263496    대신증권
Name: MKTPARTC_KOR_ABBRV, dtype: object 263496    다이렉트지점
Name: BRN_NM, dtype: object
8 298 Series([], Name: MKTPARTC_KOR_ABBRV, dtype: object) Series([], Name: BRN_NM, dtype: object)
56 17990 Series([], Name: MKTPARTC_KOR_ABBRV, dtype: object) Series([], Name: BRN_NM, dtype: object)

In [ ]:

for MBR_NO,BRN_NO in mbrnlist2:
    print(MBR_NO,BRN_NO,df2013[(df2013['MBR_NO']==MBR_NO)&(df2013['BRN_NO']==BRN_NO)]['MKTPARTC_KOR_ABBRV'].head(1),
         df2013[(df2013['MBR_NO']==MBR_NO)&(df2013['BRN_NO']==BRN_NO)]['BRN_NM'].head(1))

In [ ]:
data_dir=path_dir+'/'+'ord201709'

UUID_count={}
file_list = os.listdir(data_dir)
print(file_list)
columnlist=['MBR_NO','BRN_NO']
columnISU=['ISU_CD']
filecount=0
for filename in file_list:
    print(filename)
    df1 = pd.read_csv(data_dir+'/'+filename, sep=',', header=None, encoding="cp949")
    if 'SPOT' in filename:
        df1.columns = list(layout_1.iloc[0:len(df1.iloc[0])][0])
        print("Using 2013 data")
    elif 'ksqord' in filename:

        df1.columns= header_df
        print("Using 2017 data")
    df2=df1[df1['ISU_CD'].str.contains("KR")]
    df2['aqty']=(df2[(df2['ASKBID_TP_CD']==1) ])['ORD_QTY']
    df2['bqty']=(df2[df2['ASKBID_TP_CD']==2 ])['ORD_QTY']
    if(filecount==0):
        countdf=df1.groupby(columnISU).size()
        countdf2=df1.groupby(columnISU).sum()
        countdf3=df1.groupby(columnlist).sum()
        countdf4=df2.groupby(columnlist).sum()
    else:
        countdf=countdf.add(df1.groupby(columnISU).size())
        countdf2=countdf2.add(df1.groupby(columnISU).sum())
        countdf3=countdf3.add(df1.groupby(columnlist).sum())
        countdf4=countdf4.add(df2.groupby(columnlist).sum())
    filecount+=1

In [ ]:
countdf.sort_values(ascending=False).head(100).index

In [ ]:
'KR' in df1['ISU_CD']

In [ ]:
countdf4

In [ ]:
countdf4.sort_values(by=['aqty'],ascending=False).head(100)

In [ ]:
countdf4.sort_values(by=['bqty'],ascending=False).head(10)

In [ ]:
countdf2.sort_values(by=['bqty'],ascending=False).head(100).index

In [ ]:
countdf

In [ ]:
max_MBR_NO,max_BRN_NO=countdf.idxmax()
ISU_CD=countdf2.idxmax()

In [ ]:
MBR_NO,BRN_NO=max_MBR_NO,max_BRN_NO

In [ ]:
ISUlist=['KR7078130002', 'KR7019550003', 'KR7021080007', 'KR7044180008',
       'KR7099830002', 'KR7036630002', 'KR7065450009', 'KR7106080005',
       'KR7224060004', 'KR7025440009', 'KR7215600008', 'KR7223310004',
       'KR7097780001', 'KR7025320003', 'KR7011320009', 'KR7066980004',
       'KR7024810004', 'KR7014190003', 'KR7030270003', 'KR7208640003',
       'KR7024740003', 'KR7058530007', 'KR7041140005', 'KR7203650007',
       'KR7053110003', 'KR7036620003', 'KR7019590009', 'KR7042040006',
       'KR7019570001', 'KR7036090009', 'KR7131100000', 'KR7046120002',
       'KR7052290004', 'KR7193250008', 'KR7200230001', 'KR7028040004',
       'KR7016600009', 'USU652221081', 'KR7094190006', 'KR7012340006',
       'KR7064240005', 'KR7066410002', 'KR7197210008', 'KR7192410009',
       'KR7026260000', 'KR7054180005', 'KR7078650009', 'KR7038110003',
       'KR7035620004', 'KR7053590006', 'KR7131090003', 'KR7215100009',
       'KR7043200005', 'KR7225570001', 'KR7018000000', 'KR7204840003',
       'KR7204620009', 'KR7121800007', 'KR7066790007', 'HK0000295359',
       'KR7060560000', 'KR7024850000', 'KR7159910009', 'KR7006910004',
       'KR7033110008', 'KR7065060006', 'KR7140520008', 'KR7020180006',
       'KR7001000009', 'KR7056730005', 'KR7096040001', 'KR7022100002',
       'KR7071670004', 'KYG3931T1076', 'KR7039230008', 'KR7003670007',
       'KR7065350001', 'KR7036930006', 'KR7217270008', 'KR7003310000',
       'KR7090710005', 'KR7086520004', 'KR7017680000', 'KR7048870000',
       'KR7035480003', 'KR7104040001', 'KR7082660002', 'HK0000341732',
       'KR7080470008', 'KR7214270001', 'KR7010170009', 'KR7078150000',
       'KR7035890003', 'KR7052420007', 'KR7016670002', 'KR7127160000',
       'KR7066590001', 'KR7220180004', 'KR7057680001', 'KR7049470008']

In [ ]:
data_dir=path_dir+'/'+'ord201709'
ISU_CD_list=ISUlist
file_list = os.listdir(data_dir)
print(file_list)
filecount=0
for filename in file_list:
    print(filename)
    if 'ksqord_2017090' not in filename:
        continue
    df1 = pd.read_csv(data_dir+'/'+filename, sep=',', header=None, encoding="cp949")
    if 'SPOT' in filename:
        continue
        df1.columns = list(layout_1.iloc[0:len(df1.iloc[0])][0])
        print("Using 2013 data")
    elif 'ksqord_2017090' in filename:
        df1.columns= header_df
        df=df[1:]
        print("Using 2017 data")
    else:
        continue
#    df1=df1.set_index(['ORD_DD','ORD_ACPT_TM'])
    if(filecount==0):
        dftotISU=df1[df1['ISU_CD'].isin(ISU_CD_list)]
    else:
        dftotISU=pd.concat([dftotISU,df1[df1['ISU_CD'].isin(ISU_CD_list)],])
#         dfmost.join(df1[(df1['MBR_NO']==max_MBR_NO) & (df1['BRN_NO']==max_BRN_NO)],how='outer')
    filecount+=1
    
    
dftotISU['hourmin']=dftotISU['ORD_ACPT_TM']//1000000
dftotISU['시가']=(dftotISU['ASK_STEP1_BSTORD_PRC']+dftotISU['BID_STEP1_BSTORD_PRC'])/2
dftotISU['High']=(dftotISU['고가']-dftotISU['시가'])/dftotISU['시가']
dftotISU['Low']=(dftotISU['저가']-dftotISU['시가'])/dftotISU['시가']
dftotISU['count']=1


dftot=dftotISU.groupby(['ISU_CD','ORD_DD','hourmin']).sum()
#PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']=PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']/PdfAA['count']
dftot['시가']=dftot['시가']/dftot['count']
dftot['High']=dftot['High']/dftot['count']
dftot['Low']=dftot['Low']/dftot['count']
dftot['매도총호가잔량']=dftot['매도총호가잔량']/dftot['count']
dftot['매수총호가잔량']=dftot['매수총호가잔량']/dftot['count']

dftot=dftot[['시가','High','Low','매도총호가잔량',
       '매수총호가잔량']]

In [ ]:
X=dftot[['시가','High','Low','매도총호가잔량','매수총호가잔량']]
X=X.reset_index()
X=X[(X['hourmin']<153)&(X['hourmin']>86)]

ISU_CD_list2= (X.groupby(['ISU_CD']).count()['hourmin'] == 195)

ISU_CD_list2=X.groupby(['ISU_CD']).count().index[(X.groupby(['ISU_CD']).count()['hourmin'] == 195)]
X=X[X['ISU_CD'].isin(ISU_CD_list2)]

X=X.set_index(['ISU_CD','ORD_DD','hourmin'])

In [ ]:
ISU_CD_list

In [ ]:
ISU_CD_list2

In [ ]:
X=dftot[['시가','High','Low','매도총호가잔량','매수총호가잔량']]
X=X.reset_index()
X=X[(X['ORD_DD']<20170908)&(X['hourmin']<153)&(X['hourmin']>86)]
X=X[X['ISU_CD'].isin(ISUlist)]

In [ ]:
dftot

In [ ]:
dftotISU[dftotISU['ISU_CD']=='KR7225570001']['hourmin'].head(300)

In [ ]:
a

In [ ]:
save("testX.npy",X)

In [ ]:
from numpy import load

In [ ]:
A=load('testX.npy',allow_pickle=True)

In [ ]:
data_df = pd.DataFrame(A)

In [ ]:
data_df.columns=['ISU_CD', 'ORD_DD', 'hourmin', '시가', 'High', 'Low', '매도총호가잔량',
       '매수총호가잔량']

In [ ]:
data_df

In [ ]:
ISU_CD='KR008'
MBR_NO,BRN_NO=mbrnlist2[8]

In [ ]:
print(MBR_NO,BRN_NO,ISU_CD)
#36 1 KR7068270008

data_dir=path_dir+'/'+'ord'

UUID_count={}
file_list = os.listdir(data_dir)
print(file_list)
columnlist=['MBR_NO','BRN_NO']
filecount=0
for filename in file_list:
    print(filename)
    df2013 = pd.read_csv(data_dir+'/'+filename, sep=',', header=None, encoding="cp949")
    if 'SPOT' in filename:
        df2013.columns = list(layout_1.iloc[0:len(df1.iloc[0])][0])[:len(df2013.columns)]
        print("Using 2013 data")
    else:
        continue
    filecount+=1
    break

df2013[df2013['MBR_NO']==MBR_NO][['MKTPARTC_KOR_ABBRV','BRN_NM']].value_count

df2013[(df2013['MBR_NO']==MBR_NO)& (df2013['BRN_NO']==BRN_NO)][['MKTPARTC_KOR_ABBRV','BRN_NM']].head()

In [ ]:
data_dir=path_dir+'/'+'ord201709'

UUID_count={}
file_list = os.listdir(data_dir)
print(file_list)
filecount=0
for filename in file_list:
    print(filename)
    if 'ksqord_2017090' not in filename:
        continue
    df1 = pd.read_csv(data_dir+'/'+filename, sep=',', header=None, encoding="cp949")
    if 'SPOT' in filename:
        continue
        df1.columns = list(layout_1.iloc[0:len(df1.iloc[0])][0])
        print("Using 2013 data")
    elif 'ksqord_2017090' in filename:
        df1.columns= header_df
        df=df[1:]
        print("Using 2017 data")
    else:
        continue
#    df1=df1.set_index(['ORD_DD','ORD_ACPT_TM'])
    if(filecount==0):
        dfmost=df1[(df1['MBR_NO']==MBR_NO) & (df1['BRN_NO']==BRN_NO)&(df1['ISU_CD'].isin(ISUlist))]
        dftotISU=df1[df1['ISU_CD']==ISU_CD]
    else:
        dfmost=pd.concat([dfmost,df1[(df1['MBR_NO']==MBR_NO) & (df1['BRN_NO']==BRN_NO)&(df1['ISU_CD'].isin(ISUlist))],])
        dftotISU=pd.concat([dftotISU,df1[df1['ISU_CD']==ISU_CD],])
#         dfmost.join(df1[(df1['MBR_NO']==max_MBR_NO) & (df1['BRN_NO']==max_BRN_NO)],how='outer')
    filecount+=1

In [ ]:
dfmostkor = dfmost[dfmost['ISU_CD'].str.contains('KR')]

In [ ]:
dfmostkor.sort_values(by=['ORD_DD','ISU_CD','ORD_ACPT_TM'])
# dfmost.sort_values(by='ORD_DD')

In [ ]:
dfmostkor.to_csv('KR2017090.csv',encoding="cp949")

In [ ]:
dfmostkor['hourmin']=dfmostkor['ORD_ACPT_TM']//1000

In [ ]:
dfmostkor.groupby(['ISU_CD']).size()

In [ ]:
len(dfmostkor)

In [ ]:
ISU_CD=dfmostkor.groupby(['ISU_CD']).size().idxmax()
print(ISU_CD)
print(dfmostkor.groupby(['ISU_CD']).size().max())
print(dfmostkor.groupby(['ISU_CD']).size().sum())

In [ ]:
dfmostkor.columns

In [ ]:
#dfISU=dfmostkor[dfmostkor['ISU_CD']==ISU_CD]
dfISU=dfmostkor

In [ ]:
dfISU['hourmin']=dfISU['ORD_ACPT_TM']//1000000

dfISU.columns

In [ ]:
clist=['PT_TP_CD']
dfISU[clist].groupby(clist).size()

In [ ]:
columns=['ISU_CD', 'ORD_DD', 'ORD_ACPT_NO', 'REGUL_OFFHR_TP_CD', 'BLKTRD_TP_CD',
       '호가장처리가격', 'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_TP_CD', 'ORD_COND_CD',
       'INVST_TP_CD', 'ASK_STEP1_BSTORD_PRC', 'ASK_STEP1_BSTORD_RQTY',
       'ASK_STEP2_BSTORD_PRC', 'ASK_STEP2_BSTORD_RQTY', 'ASK_STEP3_BSTORD_PRC',
       'ASK_STEP3_BSTORD_RQTY', 'ASK_STEP4_BSTORD_PRC',
       'ASK_STEP4_BSTORD_RQTY', 'ASK_STEP5_BSTORD_PRC',
       'ASK_STEP5_BSTORD_RQTY', 'BID_STEP1_BSTORD_PRC',
       'BID_STEP1_BSTORD_RQTY', 'BID_STEP2_BSTORD_PRC',
       'BID_STEP2_BSTORD_RQTY', 'BID_STEP3_BSTORD_PRC',
       'BID_STEP3_BSTORD_RQTY', 'BID_STEP4_BSTORD_PRC',
       'BID_STEP4_BSTORD_RQTY', 'BID_STEP5_BSTORD_PRC',
       'BID_STEP5_BSTORD_RQTY', 'ORD_ACPT_TM', 'ORD_QTY', 'ORD_PRC',
       '호가우선순위번호', 'MBR_NO', 'BRN_NO', 'CNTR_CD', 'TRST_PRINC_TP_CD',
       'FORNINVST_TP_CD', 'ORD_MEDIA_TP_CD', '회원사주문시각', '예상체결가격', '예상체결수량',
       '매도총호가잔량', '매수총호가잔량', '호가체결접수순서번호', '직전체결가격', '누적체결수량', '누적거래대금',
       'AGG_TM', '시가', '고가', '저가', 'ORGN_ORD_ACPT_NO', '시장구분코드', '자동취소처리구분코드',
       'MKTSTAT_TP_CD', '매도10단계호가합계잔량', '매수10단계호가합계잔량', 'PT_TP_CD', 'hourmin']
columns=['호가장처리가격', 'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_TP_CD', 
         'ORD_QTY', 'ORD_PRC', '매도총호가잔량',
       '매수총호가잔량', '직전체결가격', '누적체결수량', '누적거래대금', '시가', '고가', '저가',
        'hourmin']
columns= [ '호가장처리가격', 'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_TP_CD', 'ORD_COND_CD',
       'INVST_TP_CD', 'ORD_ACPT_TM', 'ORD_QTY', 'ORD_PRC',
        'CNTR_CD', 'FORNINVST_TP_CD', 'ORD_MEDIA_TP_CD', '예상체결가격', '예상체결수량',
       '매도총호가잔량', '매수총호가잔량', '직전체결가격', '누적체결수량', '누적거래대금',
         '시가', '고가', '저가',  'MKTSTAT_TP_CD', 'hourmin']
columns= [ '호가장처리가격', 'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_QTY', 'ORD_PRC',
       '매도총호가잔량', '매수총호가잔량', '직전체결가격', 
         '시가', '고가', '저가',  'MKTSTAT_TP_CD', 'hourmin']

columns=['ISU_CD','ORD_DD','ASKBID_TP_CD', 'MODCANCL_TP_CD',  'ASK_STEP1_BSTORD_PRC','BID_STEP1_BSTORD_PRC',
         'ORD_QTY', 'ORD_PRC', '매도총호가잔량',
       '매수총호가잔량',  '시가', '고가', '저가','hourmin']

In [ ]:
columns

In [ ]:
Pdf=dfISU[columns]

In [ ]:
dfISU['시가']

In [ ]:
Pdf=Pdf[Pdf['ORD_PRC']!=0]
Pdf=Pdf[Pdf['MODCANCL_TP_CD']==1]
Pdf['시가']=(Pdf['ASK_STEP1_BSTORD_PRC']+Pdf['BID_STEP1_BSTORD_PRC'])/2
Pdf['count']=1
Pdf['High']=(Pdf['고가']-Pdf['시가'])/Pdf['시가']
Pdf['Low']=(Pdf['저가']-Pdf['시가'])/Pdf['시가']
Pdf['ORD_NET']=Pdf['ORD_PRC']*Pdf['ORD_QTY']
PdfA=Pdf[Pdf['ASKBID_TP_CD']==1]
PdfB=Pdf[Pdf['ASKBID_TP_CD']==2]

In [ ]:
newcolumns=['ISU_CD','ORD_DD','hourmin','시가','ORD_QTY','ORD_NET',  'High','Low','매도총호가잔량',
       '매수총호가잔량','count']
PdfA=PdfA[newcolumns]
PdfB=PdfB[newcolumns]

In [ ]:
PdfAA=PdfA.groupby(['ISU_CD','ORD_DD','hourmin']).sum()
#PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']=PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']/PdfAA['count']
PdfAA['시가']=PdfAA['시가']/PdfAA['count']
PdfAA['High']=PdfAA['High']/PdfAA['count']
PdfAA['Low']=PdfAA['Low']/PdfAA['count']
PdfAA['매도총호가잔량']=PdfAA['매도총호가잔량']/PdfAA['count']
PdfAA['매수총호가잔량']=PdfAA['매수총호가잔량']/PdfAA['count']
PdfAA['ORD_PRC_REL']=PdfAA['ORD_NET']/PdfAA['ORD_QTY']/PdfAA['시가']
PdfBB=PdfB.groupby(['ISU_CD','ORD_DD','hourmin']).sum()
#PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']=PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']/PdfAA['count']
PdfBB['시가']=PdfBB['시가']/PdfBB['count']
PdfBB['High']=PdfBB['High']/PdfBB['count']
PdfBB['Low']=PdfBB['Low']/PdfBB['count']
PdfBB['매도총호가잔량']=PdfBB['매도총호가잔량']/PdfBB['count']
PdfBB['매수총호가잔량']=PdfBB['매수총호가잔량']/PdfBB['count']
PdfBB['ORD_PRC_REL']=PdfBB['ORD_NET']/PdfBB['ORD_QTY']/PdfBB['시가']

PdfAA

PdfBB

dfmostkor

In [ ]:
# dftotISU['hourmin']=dftotISU['ORD_ACPT_TM']//1000000
# dftotISU['시가']=(dftotISU['ASK_STEP1_BSTORD_PRC']+dftotISU['BID_STEP1_BSTORD_PRC'])/2
# dftotISU['High']=(dftotISU['고가']-dftotISU['시가'])/dftotISU['시가']
# dftotISU['Low']=(dftotISU['저가']-dftotISU['시가'])/dftotISU['시가']
# dftotISU['count']=1

dfmostkor['hourmin']=dfmostkor['ORD_ACPT_TM']//1000000
dfmostkor['시가']=(dfmostkor['ASK_STEP1_BSTORD_PRC']+dfmostkor['BID_STEP1_BSTORD_PRC'])/2
dfmostkor['High']=(dfmostkor['고가']-dfmostkor['시가'])/dfmostkor['시가']
dfmostkor['Low']=(dfmostkor['저가']-dfmostkor['시가'])/dfmostkor['시가']
dfmostkor['count']=1

dftot=dfmostkor.groupby(['ISU_CD','ORD_DD','hourmin']).sum()
#PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']=PdfAA['시가','High','Low','매도호가잔량','매수호가잔량']/PdfAA['count']
dftot['시가']=dftot['시가']/dftot['count']
dftot['High']=dftot['High']/dftot['count']
dftot['Low']=dftot['Low']/dftot['count']
dftot['매도총호가잔량']=dftot['매도총호가잔량']/dftot['count']
dftot['매수총호가잔량']=dftot['매수총호가잔량']/dftot['count']

dftot=dftot[['시가','High','Low','매도총호가잔량',
       '매수총호가잔량']]

In [ ]:
Y=PdfAA.add(-1*PdfBB,fill_value=0)['ORD_QTY']

ISU_CD_list=(X.groupby(['ISU_CD']).count().reset_index())['ISU_CD'].to_list()

In [ ]:
Y=Y.reset_index()

In [ ]:
Y=Y[Y['ISU_CD'].isin(ISU_CD_list2)]

In [ ]:
Y=Y.set_index(['ISU_CD','ORD_DD','hourmin'])

In [ ]:
Y

In [ ]:
X['ORD_QTY']=Y

In [ ]:
Data=X
# save numpy array as npy file
from numpy import asarray
from numpy import save
# save to npy file
save('Data0916'+str(MBR_NO)+'_'+str(BRN_NO)+'.npy', Data)

In [ ]:
Data


lobdataloader = DataLoader(lobdata)
for data in dataloader_train:
    print(data[0])