In [1]:
### 필요 라이브러리
import os
import pandas as pd
import numpy as np
import datetime as dt
import math
import warnings
warnings.filterwarnings(action='ignore')
# save numpy array as npy file
from numpy import asarray
from numpy import save
from DataInfo import *
### 데이터 보여지는 개수 설정
pd.set_option('display.max_columns', 40)
pd.set_option('display.max_rows', 300)

In [2]:
path_dir = '/Data/ksqord1516/'

In [3]:
file_list=os.listdir(path_dir)
file_list.sort()

In [10]:
columnlist=['ISU_CD']
featlist=columnlist + ['ORD_QTY','ORD_PRC']
filename = file_list[0]
df = pd.read_csv(path_dir+'/'+filename, sep=',', names=header_df, encoding="cp949")
df = df[featlist]
df['ORD_VOL'] = df['ORD_QTY'] * df['ORD_PRC']
gdf = df.groupby(columnlist).sum()
for filename in file_list[1:2]:
    print("extracting stats from", filename )
    df = pd.read_csv(path_dir+'/'+filename, sep=',', names=header_df, encoding="cp949")
#     df = df[featlist]
    df['ORD_VOL'] = df['ORD_QTY'] * df['ORD_PRC']
    tgdf = df[featlist].groupby(columnlist).sum()
    gdf = gdf.add(tgdf).fillna(gdf).fillna(tgdf)
#     print(gdf)

extracting stats from ksqord_20150602.csv

In [12]:
df.columns

Index(['ISU_CD', 'ORD_DD', 'ORD_ACPT_NO', 'REGUL_OFFHR_TP_CD', 'BLKTRD_TP_CD',
       '호가장처리가격', 'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_TP_CD', 'ORD_COND_CD',
       'INVST_TP_CD', 'ASK_STEP1_BSTORD_PRC', 'ASK_STEP1_BSTORD_RQTY',
       'ASK_STEP2_BSTORD_PRC', 'ASK_STEP2_BSTORD_RQTY', 'ASK_STEP3_BSTORD_PRC',
       'ASK_STEP3_BSTORD_RQTY', 'ASK_STEP4_BSTORD_PRC',
       'ASK_STEP4_BSTORD_RQTY', 'ASK_STEP5_BSTORD_PRC',
       'ASK_STEP5_BSTORD_RQTY', 'BID_STEP1_BSTORD_PRC',
       'BID_STEP1_BSTORD_RQTY', 'BID_STEP2_BSTORD_PRC',
       'BID_STEP2_BSTORD_RQTY', 'BID_STEP3_BSTORD_PRC',
       'BID_STEP3_BSTORD_RQTY', 'BID_STEP4_BSTORD_PRC',
       'BID_STEP4_BSTORD_RQTY', 'BID_STEP5_BSTORD_PRC',
       'BID_STEP5_BSTORD_RQTY', 'ORD_ACPT_TM', 'ORD_QTY', 'ORD_PRC',
       '호가우선순위번호', 'MBR_NO', 'BRN_NO', 'CNTR_CD', 'TRST_PRINC_TP_CD',
       'FORNINVST_TP_CD', 'ORD_MEDIA_TP_CD', '회원사주문시각', '예상체결가격', '예상체결수량',
       '매도총호가잔량', '매수총호가잔량', '호가체결접수순서번호', '직전체결가격', '누적체결수량', '누적거래대금',
       'AGG_TM', '시가', '고가', '저가', 'ORGN_ORD_ACPT_NO', '시장구분코드', '자동취소처리구분코드',
       'MKTSTAT_TP_CD', '매도10단계호가합계잔량', '매수10단계호가합계잔량', 'PT_TP_CD', 'ORD_VOL'],
      dtype='object')

In [5]:
gdf

                  ORD_PRC     ORD_QTY       ORD_VOL
ISU_CD
HK0000055043   16528850.0   9929727.0  6.642380e+09
HK0000057197   49284695.0  19600590.0  2.161366e+10
KR7000250001  237873800.0   4873174.0  1.914541e+10
KR7000440008   37071100.0     76386.0  1.624435e+09
KR7001000009  103675100.0    883809.0  4.481528e+09
...                   ...         ...           ...
KR8840090003  320223800.0  10370713.0  3.949037e+10
KYG210AT1036   38312285.0  11314674.0  1.357271e+10
KYG2114A1094  151256465.0  10865496.0  1.943260e+10
KYG3931T1076    5498700.0   3083014.0  3.217021e+09
USU652221081  102440005.0  87566353.0  8.239406e+10

[1048 rows x 3 columns]

In [6]:
gdf.to_csv('./StatsForDataSelection/AlmostFullColumn_sum1516_ISU')

In [7]:
A=gdf.sort_values("ORD_QTY",ascending=False)

In [8]:
A=A.reset_index()

In [9]:
list(A['ISU_CD'][:10])

['KR7033630005',
 'KR7168330009',
 'KR7065950008',
 'KR7038340006',
 'KR7044180008',
 'USU652221081',
 'KR7083550004',
 'KR7018700005',
 'KR7043100007',
 'KR7057540007']

gdf=pd.read_csv('./StatsForDataSelection/columnlistcount')

gdf