In [4]:
result_path='/root/Min/LOBData/results/'
TrainName="0311T"


from source.utils import get_result_df

In [5]:
df=get_result_df(result_path,TrainName)

In [5]:
df

                accuracy precision    recall  f1 score  BRN&Train
MBR Model Type
12  Trans       0.390224  0.504475  0.486169  0.495153  None0311T
17  Trans          0.375   0.48019  0.510945   0.49509  None0311T
2   Trans       0.410657  0.526904  0.543533  0.535089  None0311T
3   Trans       0.395433  0.494898  0.514789  0.504648  None0311T
36  Trans       0.557292  0.822417  0.739475  0.778744  None0311T
4   Trans       0.376202  0.476623  0.472103  0.474352  None0311T
5   Trans       0.429888  0.685105  0.512275  0.586217  None0311T
50  Trans       0.459936  0.706587   0.62263  0.661957  None0311T
63  Trans       0.451522  0.547204  0.540889  0.544028  None0311T

In [6]:
df2=get_result_df(result_path,TrainName="0309T")

In [7]:
df2

                accuracy precision    recall  f1 score  BRN&Train
MBR Model Type
12  ALSTM       0.483574  0.527607  0.612551  0.566914  None0309T
    Trans       0.483574  0.611273  0.611343  0.611308  None0309T
    LSTM        0.489583  0.538311  0.611011  0.572361  None0309T
17  ALSTM       0.471955  0.549928  0.602743  0.575126  None0309T
    Trans       0.495192  0.601303  0.589723  0.595457  None0309T
    LSTM        0.477564  0.555155  0.593986  0.573914  None0309T
2   ALSTM       0.475561  0.557594  0.614833  0.584816  None0309T
    Trans       0.496795  0.636029  0.585883  0.609927  None0309T
    LSTM        0.485978  0.551366  0.597977  0.573726  None0309T
3   Trans       0.486779   0.58808  0.583349  0.585705  None0309T
    LSTM        0.504808   0.56786  0.583589  0.575617  None0309T
    ALSTM       0.497596  0.564756  0.577716  0.571162  None0309T
36  LSTM        0.505609   0.28806   0.33787  0.310983  None0309T
    ALSTM       0.505609  0.207429  0.333333  0.255724  None0309T
    Trans       0.630609  0.785772  0.640801   0.70592  None0309T
4   LSTM        0.465144  0.533316  0.574917  0.553336  None0309T
    Trans       0.475561  0.592828  0.573182   0.58284  None0309T
    ALSTM       0.477163  0.557913  0.585986  0.571605  None0309T
5   ALSTM       0.511619  0.563761  0.595966  0.579416  None0309T
    Trans       0.517228  0.651619  0.609009  0.629594  None0309T
    LSTM        0.511619   0.58182  0.595732  0.588694  None0309T
50  Trans       0.513622  0.685006   0.63571  0.659438  None0309T
    ALSTM        0.50601  0.618566  0.608423  0.613453  None0309T
    LSTM             0.5  0.636567  0.598301  0.616841  None0309T
56  LSTM        0.463942  0.533868  0.541952  0.537879  None0309T
    ALSTM       0.458333  0.530692  0.517513   0.52402  None0309T
    Trans       0.488782  0.597096  0.547988  0.571489  None0309T
63  LSTM        0.477163  0.557821  0.502485  0.528709  None0309T
    ALSTM       0.475561  0.562944  0.499446  0.529297  None0309T
    Trans       0.465545  0.555324  0.506883  0.529999  None0309T

In [3]:
df2=get_result_df(result_path,TrainName="0310T")

NameError: name 'get_result_df' is not defined