In [1]:
### 필요 라이브러리
import os
import pandas as pd
import numpy as np
import datetime as dt
import math
import warnings
from numpy import asarray
from numpy import save

In [8]:
stat_dir='./Statistics'
file_list=os.listdir(stat_dir)

In [9]:
file_list

['Closing_price.txt',
 'Bid.txt',
 'Ask.txt',
 'NumStock.txt',
 'OrdVolume.txt',
 'ORD_QTY.txt']

In [47]:
statname=file_list[3]
for statname in file_list:
    Data=pd.read_csv('Statistics/'+statname,delimiter='\t',names=['Dataname',statname])
    Data['Dataname']=Data['Dataname'].str.replace('/Data/Data/ord201709/','')
    Data.set_index('Dataname', inplace=True)
    Data=Data[~Data.index.duplicated(keep='last')]
    Data=Data.sort_index()
    print(statname,Data.mean().squeeze(),Data.std().squeeze())

Closing_price.txt 11307.196794153906 221.33040907846603
Bid.txt 4732390.333333333 345418.4684730007
Ask.txt 3589317.8095238097 237329.9823738288
NumStock.txt 1209.095238095238 4.689400408418564
OrdVolume.txt 17975542047296.19 2081465100138.6917
ORD_QTY.txt 3647125842.2380953 441564345.8992575

In [43]:
Data.mean().squeeze()

3647125842.2380953

In [37]:
Data.quantile()

Bid.txt    4731195.0
Name: 0.5, dtype: float64

In [35]:
statname='Bid.txt'
Data=pd.read_csv('Statistics/'+statname,delimiter='\t',names=['Dataname',statname])

In [36]:
Data

                                    Dataname  Bid.txt
0   /Data/Data/ord201709/ksqord_20170901.csv  4310546
1   /Data/Data/ord201709/ksqord_20170904.csv  4501904
2   /Data/Data/ord201709/ksqord_20170905.csv  4537377
3   /Data/Data/ord201709/ksqord_20170929.csv  4359490
4   /Data/Data/ord201709/ksqord_20170926.csv  5001301
5   /Data/Data/ord201709/ksqord_20170913.csv  4790637
6   /Data/Data/ord201709/ksqord_20170928.csv  4084793
7   /Data/Data/ord201709/ksqord_20170901.csv  4310546
8   /Data/Data/ord201709/ksqord_20170918.csv  4846075
9   /Data/Data/ord201709/ksqord_20170922.csv  5250515
10  /Data/Data/ord201709/ksqord_20170906.csv  4408678
11  /Data/Data/ord201709/ksqord_20170919.csv  5125859
12  /Data/Data/ord201709/ksqord_20170921.csv  5039136
13  /Data/Data/ord201709/ksqord_20170920.csv  5324078
14  /Data/Data/ord201709/ksqord_20170925.csv  5028836
15  /Data/Data/ord201709/ksqord_20170908.csv  4671753
16  /Data/Data/ord201709/ksqord_20170915.csv  5043922
17  /Data/Data/ord201709/ksqord_20170907.csv  4312999
18  /Data/Data/ord201709/ksqord_20170914.csv  4857175
19  /Data/Data/ord201709/ksqord_20170927.csv  4462220
20  /Data/Data/ord201709/ksqord_20170911.csv  4563264
21  /Data/Data/ord201709/ksqord_20170912.csv  4859639

In [ ]:
Datat = df3[Data.index.duplicated(keep='first')]

In [22]:
Data

                      OrdVolume.txt
Dataname
ksqord_20170904.csv  15591583978558
ksqord_20170905.csv  19097007572164
ksqord_20170929.csv  16110980252811
ksqord_20170926.csv  17211931360576
ksqord_20170913.csv  17846372400162
ksqord_20170928.csv  15336694747043
ksqord_20170901.csv  15276548845314
ksqord_20170918.csv  20528824735360
ksqord_20170922.csv  19407359033969
ksqord_20170906.csv  15288746427387
ksqord_20170919.csv  19756667046649
ksqord_20170921.csv  19928806843442
ksqord_20170920.csv  22133491801617
ksqord_20170925.csv  18578649047840
ksqord_20170908.csv  17336746948594
ksqord_20170915.csv  21595883136180
ksqord_20170907.csv  16182395813626
ksqord_20170914.csv  19027725418463
ksqord_20170927.csv  16389641893949
ksqord_20170911.csv  17497382353430
ksqord_20170912.csv  17362943336086

In [4]:
Data.mean()

Bid    4.713216e+06
dtype: float64

In [50]:
stat_dir='./result'
file_list=os.listdir(stat_dir)

In [51]:
file_list

['result_attLSTM_norm10_05_2021.txt',
 'result_Trans_12_04_2021_norm.txt',
 'result_Trans_10_06_2021_norm.txt',
 'result_0916.txt',
 'result_10_05_2021_norm.txt',
 'result_Trans_10_23_2021_norm.txt',
 'result_attLSTM_norm11_18_2021.txt',
 'result_LSTM_norm.txt',
 'result_attLSTM_norm.txt',
 'result_0930)_norm.txt',
 'result_Trans_12_14_2021_norm.txt',
 'result_LSTM_norm10_06_2021.txt',
 'result_logit_norm12_09_2021.txt',
 'result_attLSTM_norm12_04_2021Mid.txt',
 'result_10_04_2021_norm.txt',
 'result_0930.txt',
 '.result_logit_norm12_09_2021.txt.swp']

In [78]:
Data=pd.read_csv('result/'+file_list[-5],delimiter='\t',names=['Dataname',"Acc",'Prec','recall','f1sc'])
# Data['Dataname']=Data['Dataname'].str.replace('/Data/Data/ord201709/','')
Data.set_index('Dataname', inplace=True)
# Data=Data[~Data.index.duplicated(keep='last')]
# Data=Data.sort_index()
# print(statname,Data.mean().squeeze(),Data.std().squeeze())

Data['Dataname']=Data['Dataname'].str.replace('/Data/Data/ord201709/','')

In [79]:
Data['Acc']=Data['Acc'].str.replace('Acc:','')
Data['Prec']=Data['Prec'].str.replace('prec:','')
Data['recall']=Data['recall'].str.replace('recall:','')
Data['f1sc']=Data['f1sc'].str.replace('f1sc:','')

In [80]:
Data

,Acc,Prec,recall,f1sc
Dataname,,,,
best_model_seq_logit_12_09_2021_44_1,0.5313835470085471,0.20169302514193024,0.3333333333333333,0.2513184904468656
best_model_seq_logit_12_09_2021_2_83,0.5591613247863247,0.23802497133425216,0.32630735560945495,0.2752608534256226
best_model_seq_logit_12_09_2021_4_10118,0.5673076923076923,0.23969800076688577,0.32082069264410384,0.2743889883974083
best_model_seq_logit_12_09_2021_17_29,0.4387019230769231,0.20712828135234543,0.3195079388194065,0.2513276820364197
best_model_seq_logit_12_09_2021_50_91,0.6287393162393162,0.2549587962238565,0.32831856844595697,0.28702539155212026
best_model_seq_logit_12_09_2021_8_298,0.6475694444444444,0.25741890959282265,0.3289241622574956,0.2888114595431669
best_model_seq_logit_12_09_2021_4_9997,0.5682425213675214,0.2346599037586162,0.32901567937250364,0.27394050750879484
best_model_seq_logit_12_09_2021_5_194,0.3107638888888889,0.16167811983525746,0.3232873499667593,0.2155555154493235
best_model_seq_logit_12_09_2021_12_100,0.3729967948717949,0.18172245128951414,0.30870325713687774,0.2287739473853069
best_model_seq_logit_12_09_2021_50_92,0.5539529914529915,0.24080142781881322,0.3270134377999509,0.2773625965299652
best_model_seq_logit_12_09_2021_42_1,0.6973824786324786,0.2412232076866223,0.3333333333333333,0.2798949455968269
best_model_seq_logit_12_09_2021_2_155,0.7162126068376068,0.5810923204879401,0.33356676003734825,0.42383678630605914

In [85]:
Data['Acc'].mean()

TypeError: Could not convert 0.53138354700854710.55916132478632470.56730769230769230.43870192307692310.62873931623931620.64756944444444440.56824252136752140.31076388888888890.37299679487179490.55395299145299150.69738247863247860.7162126068376068 to numeric