In [1]:
import pandas as pd
from datetime import datetime
from source.TrainDataGeneration import append_ORD_TM,append_ORD_VOL,append_TM_GP,GetGroupDataFrame,append_STEP5

In [2]:
groupcolumns=['ORD_DD','ISU_CD','MBR_NO', 'BRN_NO','TM_GP','ASKBID_TP_CD','MODCANCL_TP_CD']
sumcolumns=['ORD_QTY']
sumcolumns=['ORD_QTY','ORD_VOL']
meancolumns=[]
lastcolumns=[]
#totcolumns=groupcolumns+meancolumns+lastcolumns+sumcolumns

In [3]:
totcolumns=['ORD_DD', 'ISU_CD', 'MBR_NO', 'BRN_NO', 'ASKBID_TP_CD', 'MODCANCL_TP_CD', 'ORD_ACPT_TM', 'ORD_QTY','ORD_PRC']

In [4]:
groupmin=10

In [5]:
Datapathlist=['CollectedData/2022_3_20_22_18.csv','CollectedData/2022_3_20_22_25.csv','CollectedData/2022_3_20_22_33.csv']

In [6]:
GDF= pd.DataFrame( columns=['ORD_DD', 'ISU_CD', 'MBR_NO', 'BRN_NO', 'ASKBID_TP_CD',
       'MODCANCL_TP_CD', 'ORD_QTY', 'ORD_VOL', 'ORD_ACPT_TM'])

In [7]:
for datapath in Datapathlist:
    print(datapath)
    Data1=pd.read_csv(datapath)
    print(datapath,"loading complete")
    Data1=Data1[totcolumns]
    Data=append_ORD_TM(Data1)
    Data=append_ORD_VOL(Data)#새로 추가
    Data=append_TM_GP(Data,groupmin=groupmin)
    
    GDF_temp=GetGroupDataFrame(Data,groupcolumns,sumcolumns,meancolumns,lastcolumns)
    GDF=pd.concat([GDF,GDF_temp])

CollectedData/2022_3_20_22_18.csv

/root/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

CollectedData/2022_3_20_22_18.csv loading complete
CollectedData/2022_3_20_22_25.csv
CollectedData/2022_3_20_22_25.csv loading complete
CollectedData/2022_3_20_22_33.csv
CollectedData/2022_3_20_22_33.csv loading complete

In [8]:
GDF

,ORD_DD,ISU_CD,MBR_NO,BRN_NO,ASKBID_TP_CD,MODCANCL_TP_CD,ORD_QTY,ORD_VOL,ORD_ACPT_TM,TM_GP
0,20170901,HK0000295359,1,1,1,1,16000,33060000,NaN,6.0
1,20170901,HK0000295359,1,1,1,1,14000,28920000,NaN,7.0
2,20170901,HK0000295359,1,7,2,1,50,101750,NaN,32.0
3,20170901,HK0000295359,1,7,2,1,100,203500,NaN,35.0
4,20170901,HK0000295359,1,7,2,1,50,102000,NaN,36.0
...,...,...,...,...,...,...,...,...,...,...
5849428,20170929,USU652221081,86,300,1,3,6819,9955740,NaN,17.0
5849429,20170929,USU652221081,86,300,2,1,7,10080,NaN,18.0
5849430,20170929,USU652221081,86,300,2,1,2000,2880000,NaN,23.0
5849431,20170929,USU652221081,86,300,2,2,2000,2900000,NaN,34.0
5849432,20170929,USU652221081,86,300,2,2,2000,2920000,NaN,36.0

In [9]:
SaveDirPath='/Data/Min/TransLOB/CollectedData/'
now=datetime.now()
filename="GDF"+str(now.year)+'_'+str(now.month)+'_'+str(now.day)+'_'+str(now.hour)+'_'+str(now.minute)+'.csv'
print(SaveDirPath+filename)
GDF.to_csv(SaveDirPath+filename)

/Data/Min/TransLOB/CollectedData/GDF2022_5_4_8_25.csv

In [10]:
with open(SaveDirPath+'DataInformation.txt', "a+") as f:
    f.write("filename:"+filename+'\n')
    f.write("groupmin"+str(groupmin)+'\n')
    f.write('group columns:')
    for col in groupcolumns:
        f.write(str(col)+'\t')
    f.write('\n')
    for datapath in Datapathlist:
        f.write(str(datapath)+'\t')
    f.write('\n')