In [1]:
### 필요 라이브러리
import os
import pandas as pd
import numpy as np
import datetime as dt
import math
import warnings
warnings.filterwarnings(action='ignore')
# save numpy array as npy file
from numpy import asarray
from numpy import save
from DataInfo import *
### 데이터 보여지는 개수 설정
pd.set_option('display.max_columns', 40)
pd.set_option('display.max_rows', 300)

In [2]:
# countdf=pd.read_csv('./StatsForDataSelection/AlmostFullColumn_count')
sumdf=pd.read_csv('./StatsForDataSelection/AlmostFullColumn_sum1516')

In [3]:
sumdf

,MBR_NO,BRN_NO,ASKBID_TP_CD,MODCANCL_TP_CD,PT_TP_CD,ORD_PRC,ORD_QTY,ORD_VOL
0,1,1,1,1,0,644490721.0,46362990.0,4.253802e+09
1,1,1,1,2,0,141567336.0,7387965.0,5.245262e+08
2,1,1,1,3,0,75719970.0,4247768.0,1.523840e+08
3,1,1,2,1,0,934105739.0,42784628.0,2.982506e+09
4,1,1,2,2,0,125125157.0,5117852.0,2.661052e+08
...,...,...,...,...,...,...,...,...
10693,86,999,1,2,0,2001840.0,66048.0,NaN
10694,86,999,1,3,0,6531585.0,274797.0,NaN
10695,86,999,2,1,0,5571412.0,289370.0,NaN
10696,86,999,2,2,0,295760.0,52249.0,NaN
10697,86,999,2,3,0,952810.0,31364.0,NaN

In [ ]:
sumdf = sumdf.reset_index()

In [ ]:
# countdf = countdf.pivot(index= ['MBR_NO', 'BRN_NO', 'ASKBID_TP_CD','PT_TP_CD'],columns=['MODCANCL_TP_CD'],values='0')
# countdf = countdf.reset_index()
# countdf=countdf.rename(columns={1: 'NEW', 2:'EDIT',3:'CANCL'})
# countdf['NET'] = countdf['NEW']-countdf['CANCL']
# countdf = countdf.set_index(['MBR_NO','BRN_NO'])

countdf.sum(level=[0]).sort_values('NET',ascending=False).index[:30]#MBR_count_top

countdf.sum(level=[0,1]).sort_values('NET',ascending=False).index[:30]#MBRN_count_top

In [ ]:
# countdf[countdf['PT_TP_CD']==31].sum(level=[0]).sort_values('NET',ascending=False).index[:30]#MBRNPT_count_top

countdf[countdf['PT_TP_CD']==31].sum(level=0,1]).sort_values('NET',ascending=False).index[:30]#MBRNPT_count_top

In [5]:
sumdf = sumdf.pivot(index= ['MBR_NO', 'BRN_NO', 'ASKBID_TP_CD','PT_TP_CD'],columns=['MODCANCL_TP_CD'],values='ORD_VOL')
sumdf = sumdf.reset_index()

In [6]:
sumdf=sumdf.rename(columns={1: 'NEW', 2:'EDIT',3:'CANCL'})
sumdf['NET'] = sumdf['NEW']-sumdf['CANCL']
sumdf = sumdf.set_index(['MBR_NO','BRN_NO'])

In [7]:
sumdf.sum(level=[0]).sort_values('NET',ascending=False).index[:30]#MBR_sum_top

Int64Index([50,  5, 25, 12, 17,  2,  3, 30,  4, 24, 56, 63,  8, 31, 44, 42, 21,
             1, 10, 46, 22, 36, 71, 68, 72, 58,  6,  9, 13, 45],
           dtype='int64', name='MBR_NO')

In [10]:
sumdf.sum(level=[0,1]).sort_values('NET',ascending=False).index[:20]#MBRN_sum_top

MultiIndex([(25,  1093),
            (12,   100),
            (17,    29),
            (44,     1),
            (42,     1),
            ( 2,   155),
            ( 2,    83),
            ( 4,  9997),
            (56, 17990),
            ( 5,   194),
            ( 5,   136),
            (50,    35),
            (50,    19),
            (56, 17988),
            (50,    28),
            (36,     1),
            ( 8,   271),
            (50,    86),
            ( 2,   999),
            ( 5,   155)],
           names=['MBR_NO', 'BRN_NO'])

In [ ]:
sumdf[sumdf['PT_TP_CD']==31].sum(level=[0,1]).sort_values('NET',ascending=False).index[:30]#MBRNPT_sum_top